<div class="nav-container">
	<img class="logo" src="https://upload.wikimedia.org/wikipedia/en/6/66/Rugrats_logo.png" alt="">
	<nav>
		{{#link-to "home.angelica"}}
			Angelica
		{{/link-to}}
		
		{{#link-to "home.chuckie"}}
			Chuckie
		{{/link-to}}
		
		{{#link-to "home.dil"}}
			Dil
		{{/link-to}}
		
		{{#link-to "home.phil-lil"}}
			Phil and Lil
		{{/link-to}}

		{{#link-to "home.tommy"}}
			Tommy
		{{/link-to}}
	</nav>

	{{liquid-outlet}}
</div>
